nav {

    .navbar {
        background: map-get($colors, alabaster) !important;
    }
    
    .navbar-brand {
        font-size: 38px;
    }

    .nav-link {
        font-family: $font-secondary;
        font-size: 18px;
        text-transform: uppercase;
        color: map-get($colors, spanish-gray) !important;
    }

    .nav-link:hover {
        color: lighten($color: map-get($colors, spanish-gray), $amount: 10) !important;
    }

    .nav-link.active {
        color: map-get($colors, primary) !important;
    }
}
