$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Archivo Narrow', sans-serif;

$colors: (
    earie: #262626,
    jet: #333333,
    dark-lava: #463F3A,
    primary: #C32C72,
    dim-gray: #6A6A6A,
    spanish-gray: #8D8D8D,
    platinum: #E2E2E2,
    platinum2: #E5E5E5,
    alabaster: #F4F3EE,
);